<div class="bg-light p-5 text-center">
    <h2 class="bg-dark p-3 text-light rounded my-3"> Gallary</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <img [src]="imgsrc" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button  class="btn btn-primary" (click)="showNext()">Next</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>