<div class="bg-dark p-5 text-center mt-5">
    <div class="container">
        <h1 class="bg-light p-3 rounded text-center">todo list</h1>
        <div class="row">
            <div class="col-sm-8 mt-4">

                <input 
                   [(ngModel)]="searchkey"
                   type="text"
                   class="form-control"
                   placeholder="enter your Name">
            </div>
            <div class="col-sm-4 mt-4">
                <button (click)="add()" class="btn btn-primary d-block w-100">+</button>
            </div>
            <div class="row" *ngFor="let todo of todol ; let i=index">
                <div class="col-sm-8 mt-4 bg-secondry rounded">
                    <p class="text-light fw-bold lead ">{{todo}}</p>
                </div>
                <div class="col-sm-4 mt-4">
                    <button (click)="remove(i)" class="btn btn-danger d-block w-100">-</button>
                </div>
            </div>
        </div>
    </div>
</div>