
<h2 class="text-center  p-3 rounded mt-5 ">User details
       
</h2>
<div class="bg-light ">
   
   <div class="container">
          <div class="row">
             <div class="col-4"></div>
             <div class="col-4">
                <div class="mt-5">
                    <h4> <span class="px-2 text-danger">id:</span>{{user?.id}}</h4>
                    <h4> <span class="px-2 text-danger">email:</span>{{user?.email}}</h4>
                    <h4> <span class="px-2 text-danger">pass:</span>{{user?.password}}</h4>
                </div>
                <div class="text-center pb-5">
                    <button class="btn btn-warning mt-5 " (click)="backtohome()">Back to home</button>
                </div>
               
             </div>
             <div class="col-4"></div>
          </div>
   </div>

   
</div>

